<div class="login">
    <div class="login-text-header">
        Bạn quên mật khẩu
    </div>
    <div class="login-text">Vui lòng nhập số điện thoại lấy lại mật khẩu</div>


    <form>
        <input class="input" type="tel" placeholder="Nhập mã OTP" id="phone" name="tel" [(ngModel)]="otp">
        <div class="t-otp">
            Gửi lại mã
        </div>
        <button class="btn-sc" (click)="forgot()">
                  Lấy lại mật khẩu
              </button>
    </form>

    <a class="login-link" routerLink="/login">Đăng nhập</a>

</div>