<div class="main-layout">
    <div class="main-layout-header">
        <app-header-logo (click)="drawer.toggle()"></app-header-logo>
        <app-header-info></app-header-info>
    </div>
    <mat-drawer-container class="example-container" autosize>

        <mat-drawer opened #drawer class="example-sidenav" mode="side">
            <app-nav-menu [dataNavMenu]='dataNav'></app-nav-menu>
        </mat-drawer>
        <div class="example-sidenav-content" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-drawer-container>

</div>