.main-layout {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .main-layout-header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .example-container {
        width: 100%;
        height: 90%;
    }
    .example-sidenav-content {
        height: 100%;
        width: calc(100%-235px);
        align-items: center;
        justify-content: center;
        background-color: var(--color-section);
        padding: 0;
    }
    .example-sidenav {
        padding: 10px;
        width: 235px;
    }
}