.setting {
    padding: 16px;
    .setting-content {
        padding: 16px;
    }
}

::ng-deep mat-tab-group {
    background: #ffffff;
    height: 100%;
}

::ng-deep .mat-tab-label-active {
    color: #ee0033 !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ee0033 !important;
}

::ng-deep .sc-table {
    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: #ffffff !important;
    }
    .mat-tab-nav-bar,
    .mat-tab-header {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
    }
    .mat-tab-label {
        border: #7a7a7a;
        border-radius: 12px;
        border-width: 2px;
        border-style: solid;
        margin: 15px 25px 15px 0px; ;
    }
    .mat-tab-label-active {
        background-color: #fabecb;
        border: #ee0033;
        border-radius: 12px;
        border-width: 2px;
        border-style: solid;
    }
    .mat-ink-bar {
        display: none;
    }
}
