<div class="setting">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Hoa hồng kênh bán">
            <div class="setting-content">
                <div class="sc-header">
                    Hoa hồng kênh bán nhận được theo từng sản phẩm
                </div>
                <div class="sc-button"></div>
                <div class="sc-table">
                    <mat-tab-group class="remove-border-bottom">
                        <mat-tab label="Bảo tâm an">
                            <app-box-card></app-box-card>
                        </mat-tab>
                        <mat-tab label="Bảo an khang">
                            <app-box-card></app-box-card>

                        </mat-tab>

                    </mat-tab-group>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Hoa hồng nhân viên kênh bán">
            <div class="setting-content">
                Hoa hồng kênh bán nhận được theo từng sản phẩm
            </div>
        </mat-tab>
    </mat-tab-group>
</div>