<form class="filter-card">
  <div class="filter-card-title">
    Tìm kiếm theo
    <!-- {{filterConfig | json}} -->
  </div>

  <div class="filter-card-data">
    <!-- <div class="list-data" *ngIf="item.type.Id== 'id'">
            <div class="label"> ID</div>
            <input type="text" class="input" placeholder="Nhập ID">
        </div>
        <div class="list-data" *ngIf="item.type.Phone == 'phone'">
            <div class="label"> Số điện thoại </div>
            <input type="text" class="input" placeholder="Nhập số điện thoại">
        </div>

        <div class="list-data" *ngIf="item.type.Contract == 'contract'">
            <div class="label"> Mã hợp đồng </div>
            <input type="text" class="input" placeholder="Nhập mã hợp đồng">
        </div>

        <div class="list-data" *ngIf="item.type.Seller == 'seller'">
            <div class="label"> Người bán </div>
            <input type="text" class="input" placeholder="Nhập số điện thoại">
        </div>

        <div class="list-data" *ngIf="item.type.startDate == 'startDate'">
            <div class="label"> Khoảng ngày </div>
            <input type="text" class="input" placeholder="dd/mm/yy">
        </div>

        <div class="list-data" *ngIf="item.type.endDate == 'endDate'">
            <div class="label"> đến </div>
            <input type="text" class="input" placeholder="dd/mm/yy">
        </div>

        <div class="list-data" *ngIf="item.type.Status == 'status'">
            <div class="label"> Trạng thái </div>
            <input type="text" class="input" placeholder="Tất cả">
        </div>

        <div class="list-data" *ngIf="item.type.Product == 'product'">
            <div class="label"> Sản phẩm </div>
            <input type="text" class="input" placeholder="Tất cả">
        </div>

        <div class="list-data" *ngIf="item.type.typeDayFilter == 'typeDayFilter'">
            <div class="label"> loại ngày lọc </div>
            <input type="text" class="input" placeholder="Loại ngày lọc">
        </div>

        <div class="list-data">
            <div class="label"> </div>

            <button class="search">
                Tìm kiếm
            </button>
        </div> -->
    <div class="list-data" *ngFor="let item of filterConfig">
      <div *ngIf="item.type == 'text'">
        <div class="label">{{ item.label }}</div>
        <input
          [type]="item.type"
          class="input"
          [placeholder]="item.placeholder"
          [(ngModel)]="filterModel[item.condition]"
          [name]="item.label"
        />
      </div>
      <div *ngIf="item.type == 'select'">
        <div class="label">{{ item.label }}</div>
        <select
          class="base-input"
          [(ngModel)]="filterModel[item.condition]"
          [name]="item.label"
        >
          <option *ngFor="let i of item.data" [value]="i">
            {{ i }}
          </option>
        </select>
      </div>
    </div>
    <div class="list-data">
      <div class="label"></div>
      <button class="search" (click)="onSearchClick()">Tìm kiếm</button>
    </div>
  </div>
</form>
