.filter-card {
    // width: 100%;
    background: #0A2956;
    padding: 30px 150px 30px 50px;
    border-radius: 0px 0px 20px 20px;
    .filter-card-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .filter-card-data {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px 50px;
        .list-data {
            width: 205px;
            .label {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                margin-bottom: 10px;
            }
            .input {
                background: #FFFFFF;
                border-radius: 12px;
                outline: none;
                height: 44px;
                padding: 0px 16px;
                width: 100%;
            }
            .search {
                background: #EE0033;
                border-radius: 8px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                height: 44px;
                width: 120px;
                border: none;
                outline: none;
                color: #FFFFFF;
                margin-top: 30px;
            }
        }
    }
}