<div class="header">{{tableTitle}}</div>
<table class="table">
    <tr>
        <th class="table-header" *ngFor="let item of data.tableHeader">
            {{item}} </th>
    </tr>
    <tr class="table-content"
        *ngFor="let item of data.tableData | paginate: { itemsPerPage: 5, currentPage: currentPage }"
        (click)="handleEventRoute(item)">
        <td *ngIf="item.code"> {{item.code}} </td>
        <td *ngIf="item.contractId"> {{item.contractId}} </td>
        <td *ngIf="item.Code"> {{item.Code}} </td>
        <td *ngIf="item.sellerName"> {{item.sellerName}} </td>
        <td *ngIf="item.FullName"> {{item.FullName}} </td>
        <td *ngIf="item.insuredFullName"> {{item.insuredFullName}} </td>
        <td *ngIf="item.product"> {{item.product}} </td>
        <td *ngIf="item.created"> {{item.created}} </td>
        <td *ngIf="item.effectiveDate"> {{item.effectiveDate}} </td>
        <td *ngIf="item.name"> {{item.name}} </td>
        <td *ngIf="item.seller"><span>{{item.seller.name}}</span> <span>{{item.seller.phone}}</span> </td>
        <td *ngIf="item.PhoneNumber"> {{item.PhoneNumber}} </td>
        <td *ngIf="item.customer"><span>{{item.customer.name}}</span> <span>{{item.customer.phone}}</span> </td>
        <td *ngIf="item.BirthDay"> {{item.BirthDay}} </td>
        <td *ngIf="item.productName"> {{item.productName}} </td>
        <td *ngIf="item.Gender"> {{item.Gender}} </td>
        <td *ngIf="item.joinDate"> {{item.joinDate}} </td>
        <td *ngIf="item.createdDate"> {{item.createdDate}} </td>
        <td *ngIf="item.stopDate"> {{item.stopDate}} </td>
        <td *ngIf="item.activeDate"> {{item.activeDate}} </td>
        <td *ngIf="item.status"> {{item.status === 'Active' ? 'Đang hoạt động':'Bị khóa'}} </td>
    </tr>
</table>
<div class="pagination-controls">
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>