<div class="change-pw">
    <div class="change-pw-title">
        Thay đổi mật khẩu
    </div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="OldPassword">Nhận mật khẩu cũ: </label>
            <input type="password" id="OldPassword">
        </div>

        <div class="form-group">
            <label for="NewPassword">Nhận mật khẩu mới: </label>
            <input type="password" id="NewPassword">
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Xác nhận lại mật khẩu: </label>
            <input type="password" id="ConfirmPassword">
        </div>
    </form>
    <div class="change-pw-btn">
        <!-- <button class="btn-sc">Xác nhận</button>
        <button class="btn-cancel">Hủy</button> -->
        <app-base-button [titleButton]="'Xác nhận'" [dataButton]="dataBtnSC" (onSubmit)="change()"></app-base-button>
        <app-base-button [titleButton]="'Hủy'" [dataButton]="dataBtnCancel" (onSubmit)="close()"></app-base-button>
    </div>
</div>